.HeaderBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 250px;
  overflow: hidden;

  img {
    width: 100%; height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
  }

  .HeaderGradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 250px;
    background: var(--bg-linear-gradient-header); 
    opacity: 0.7;
  }
}
