.HeaderTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;

  .Title {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
  }

  nav {
    display: flex;
    gap: 40px;

    a.active {
      color: #555;
    }

    a {
      color: #fff;
      text-decoration: none;
    }

    .SignOut {
      color: #fff;
      cursor: pointer;
    }
  }
}

.Button {
  border: none;
  background: none;
  cursor: pointer;
}

.Button:hover,
.SignOut:hover,
nav a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .HeaderTitle {
    width: 100%;
    max-width: 380px;

    nav {
      gap: 30px;
    }
  }  
}

@media screen and (max-width: 424px) {
  .HeaderTitle {
    width: 100%;
    max-width: 330px;

    nav {
      gap: 20px;
    }
  }  
}