.HeaderTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;

  .Title {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.4em;
  }
}

.Button {
  border: none;
  background: none;
  cursor: pointer;
}

.Button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .HeaderTitle {
    width: 100%;
    max-width: 380px;
  }
}

@media screen and (max-width: 424px) {
  .HeaderTitle {
    width: 100%;
    max-width: 330px;
  }
}