.Button {
    padding: 5px 10px;
    border: none;
    color: #5B5D72;
    background: none;
    cursor: pointer;
}

.Button:hover {
    opacity: 0.5;
}

@media screen and (max-width: 767px) {
    .Button {
        padding: 5px 5px;
    }
}