.NavBar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    max-height: 250px;
    background: var(--bg-color);
  }
  
  .Header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 250px;
  
    .HeaderWrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 250px;
    }
  
    .HeaderTitleWrapper {
      display: flex;
      justify-content: center;
      margin: 40px 0 30px 0;
    }
  }